<style>

h1, .h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em !important;
    letter-spacing: 1px;
    border-bottom: 3px solid #497564;
    /* text-transform: uppercase; */
    color: #497564;
}

h1.title{
    padding:5px
}

div.title {
    text-align: center;
    background-color: #d3e6d23d;
    height:3em;
    border-radius: 10px;
    box-shadow: 3px 3px #536f533d;
    margin-bottom: 8px;
}

h2, .h2 {
    font-family: "Trebuchet MS";
    font-size: 1.7em !important;
    color: #8f3f71;
}

h3, .h3 {
    font-family: "Trebuchet MS";
    font-size: 1.4em !important;
    color: #997563;
}

.jp-mod-active .jp-Collapser-child{
    background-color: #d79921;
}
/* .output { */
/*     flex-direction: row; */
/* } */

.cm-s-jupyter span.cm-keyword{
    color: #d65d06;
}

.cm-s-jupyter span.cm-property{
    color: #076678
}

.cm-s-jupyter span.cm-string {
  color: #b57614
}

/* --- for rendering submitted notebook --- */
div.text_cell_render h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em !important;
    letter-spacing: 1px;
    border-bottom: 3px solid #497564;
    /* text-transform: uppercase; */
    color: #497564;
    padding: 0px;
    margin-top: 5px;
}

div.text_cell_render h2 {
    font-family: "Trebuchet MS";
    font-size: 1.7em !important;
    color: #8f3f71;
}

div.text_cell_render h3 {
    font-family: "Trebuchet MS";
    font-size: 1.4em !important;
    color: #997563;
}

.highlight .s1 {
    color: #b57614;
}

.highlight .s2 {
    color: #b57614;
}

.highlight .k {
    font-weight: 550;
    color: #b57614;
}

.highlight .ow {
    color: #b57614;
    font-weight: lighter;
}

.highlight .se {
    color: #BB6622;
    font-weight: lighter;
}

.highlight .kn{
    color: #d65d06;
    font-weight: : 550;
}

.highlight .si {
  color: #BB6622;
  font-weight: lighter;
}

a.global_indexed_symbol{
    color: #076678
}

div.output_subarea.output_text{
    padding: 16px;
    width: 1000px;
}

h1.header {
    color: white !important;
}

.insights {
    line-height: 1.7em;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
}

div.output_subarea {
    padding: 0px
}

div.output_area pre {
    margin: 5px
}

</style>
